#title {
	text-align: center;
	margin: 0em 12em 0em 16em;
	padding: .5em;
	box-shadow: 3px 3px 5px 6px #ccc;
}

#title h1{
	font-family: sans-serif;
	color: #2d496f;
}

#title p{
	color: black;
}

.activity{
	width: 60%;
	margin: 0em 10em 0em 14em;
}

.activity p{
	background-color: #dbe4ec;
}				
				
.progbar {
	background-color: black;
	border-radius: 13px;
	padding: 3px;
}

.progbar div{
	font-family: sans-serif;
	color: white;
	text-align: center;
	background-color: orange;
	height: 20px;
	border-radius: 10px;
}

.navigation {
	position: fixed;
	margin: -11.3em 4em 0em -2em;
	padding: 5em 1em 0em 2em;
	font-family: sans-serif;
	color: #2d496f;
	background-color: #cdcfd0;
	height: 40em;
	width: 10em;
	box-shadow: 2px 1px 3px 4px #474747;
}

.navigation ul {
	margin-left: -2em;
}

.navigation li{
	margin: .25em 0em .25em;
}

.navigation a {
	color: #19491f;
	font-variant: small-caps;
}
